.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #ffffff;
  /* text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); */
  /* background-color: #428bca; */
  background-color: #e7e7e7;
}
	.nav-list{
		text-indent: 23px;
		/* text-align: center; */
	}
html,body{
	background-color: #f8f8f8;
	min-width: 500px;
	margin: 0; 
	padding: 0;
	overflow-x:hide;
}

canvas{
	background-color: blue;
	width: 100%;
	height: 300px;
}
.slider{
}

.jumbotron{
	margin: 0;
}

.sum{
	/*  height: 300px; */
	background-color: #AA1122;
}

.affix-row, .affix-content{
	margin-left: 0;
	margin-right: 0;    
} 

.affix-content .page-header{
	margin-top: 0;
}

.affix-content{
	background-color:white; 
	padding: 30px;
} 

@media (min-width: 768px){

	.affix-content .container {
		width: 700px;
	}   

	.sidebar-nav{
		width: 100%;
	}

	.affix-sidebar{
		padding-right:0; 
		font-size:small;
		padding-left: 0;
	}  

	.sidebar-nav .navbar .navbar-collapse {
		padding: 0;
		max-height: none;
	}
	.sidebar-nav .navbar{
		border-radius:0; 
		margin-bottom:0; 
		border:0;
	}

	.sidebar-nav .navbar ul {
		float: none;
		display: block;
	}

	.sidebar-nav .navbar li {
		float: none;
		display: block;
	}

	.sidebar-nav .navbar li a {
		float: none;
		padding-top: 12px;
		padding-bottom: 12px;
	}  

	.side-link{
		font-size: 1.4em;
	}

	.nav-list{
		font-size: 1.1em;
		/* text-align: center; */
	}
}
